.App {
    font-family: 'Varela Round', sans-serif;
    background: url('../src/assets/images/background-image.svg');
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.Content {
    padding: 10px;
    text-align: center;
}

.Main {
    padding-top: 84px;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #555555;
    transition: color ease-in-out 0.3s;
}

a:hover {
    text-decoration: none;
    color: #cfced3;
}

a:hover i {
    color: #ddc000;
    transition: color ease-in-out 0.3s;
}

i {
    color: #cfced3;
    font-size: 1.6rem;
    vertical-align: middle;
}

i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #ddc000;
}

h1 {
    font-family: 'Shadows Into Light', cursive;
}

h2, h3, h4 {
    font-family: 'Inknut Antique', cursive;
}
.FillerImage {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.34);
}