.Button {
    background: url('../images/background-button.svg');
    background-size: cover;
    border-radius: 25px;
    color: #f8f8f8;
    background-position: center;
    border: 2px solid #011638;
    margin: auto;
    transition: 0.5s all ease-in-out;
}

.Button:hover {
    background: url('../images/background-button-hover.svg');
    background-size: cover;
    background-position: center;
    border: 2px solid #ddc000;
    color: #141414;
    transform: scale(1.04);
}

.ButtonBlue {
    background: url('../images/background-button-blue.svg');
    background-size: cover;
    border-radius: 25px;
    background-position: center;
    border: 2px solid #011638;
    transition: 0.5s all ease-in-out;
    color: #f8f8f8;
    margin: 10px;
}

.ButtonBlue:hover {
    background: url('../images/background-button-blue-hover.svg');
    background-size: cover;
    background-position: center;
    border: 2px solid #00013b;
    color: #141414;
    transform: scale(1.04);
}

.ButtonCancel {
    background: url('../images/background-button-cancel.svg');
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    color: #f8f8f8;
    border: 2px solid #011638;
    transition: 0.5s all ease-in-out;
    margin: 10px;
}

.ButtonCancel:hover {
    background: url('../images/background-button-cancel-hover.svg');
    background-size: cover;
    background-position: center;
    border: 2px solid #9e0000;
    color: #141414;
    transform: scale(1.04);
}