.DropdownItem {
    display: inline-block;
    max-width: 50%;
    padding: 0px;
}

.DropdownItem:hover {
    background-color: transparent;
    color: #011638;
}

.DropdownItem > i, a:hover {
    background-color: transparent;
    color: #011638;
}

.Absolute {
    right: 0;
    z-index: 99;
}