.NavBar {
    box-shadow: 0px 20px 13px -16px rgb(0 0 0 / 47%);
}
.NavLink {
    font-family:  'Coiny', cursive;
    padding: 5px 10px;
    position: relative;
    margin: auto;
}
.Button {
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #eef0f2;
}
.OffCanvas {
    font-family: 'Shadows Into Light', cursive;
}
.CustomIcons {
    height: 30px;
    width: auto;
}
.CustomIcons:hover {
    height: 30px;
    width: auto;
    color: #ddc000;
    transition: color ease-in-out 0.3s;
}
@media screen and (max-width: 925px) {
    
.NavLink {
    margin: 10px 0;
}
}