.Container {
  min-height: 343px;
  border-radius: 20px;
  border: 3px solid #DDC000;
  background-color: #f8f8f8;
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.22);
  padding: 20px;
}

.Row {
  margin-top: 5%;
}

.ButtonBlue {
  background: url('../images/background-button-blue.svg');
  background-size: cover;
  background-position: center;
  border: 2px solid #011638;
  transition: 0.5s all ease-in-out;
  color: #f8f8f8;
  margin: 10px;
}

.ButtonBlue:hover {
  background: url('../images/background-button-blue-hover.svg');
  background-size: cover;
  background-position: center;
  border: 2px solid #00013b;
  color: #141414;
  transform: scale(1.04);
}

.ButtonCancel {
  background: url('../images/background-button-cancel.svg');
  background-size: cover;
  background-position: center;
  border: 2px solid #011638;
  transition: 0.5s all ease-in-out;
  margin: 10px;
}

.ButtonCancel:hover {
  background: url('../images/background-button-cancel-hover.svg');
  background-size: cover;
  background-position: center;
  border: 2px solid #9e0000;
  color: #141414;
  transform: scale(1.04);
}

.Button {
  background: url('../images/background-button.svg');
  background-size: cover;
  background-position: center;
  border: 2px solid #011638;
  transition: 0.5s all ease-in-out;
  margin: 10px;
}

.Button:hover {
  background: url('../images/background-button-hover.svg');
  background-size: cover;
  background-position: center;
  border: 2px solid #ddc000;
  color: #141414;
  transform: scale(1.04);
}