.Profile {
  box-shadow: 0px 0px 20px -6px rgba(0, 0, 0, 0.75) inset;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.3rem;
}

.WordBreak {
  word-break: break-all;
}