.Profile {
  box-shadow: 0px 0px 20px -6px rgba(0, 0, 0, 0.75) inset;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}

.WordBreak {
  word-break: break-all;
}

.Button {
  background: url('../images/background-button.svg');
  background-size: cover;
  background-position: center;
  border: 2px solid #011638;
  transition: 0.5s all ease-in-out;
  border-radius: 30px;
  margin: 10px;
}

.Button:hover {
  background: url('../images/background-button-hover.svg');
  background-size: cover;
  background-position: center;
  border: 2px solid #ddc000;
  color: #141414;
  transform: scale(1.04);
}

.ButtonBlue {
  background: url('../images/background-button-blue.svg');
  background-size: cover;
  background-position: center;
  border: 2px solid #011638;
  transition: 0.5s all ease-in-out;
  color: #f8f8f8;
  border-radius: 30px;
  margin: 10px;
}

.ButtonBlue:hover {
  background: url('../images/background-button-blue-hover.svg');
  background-size: cover;
  background-position: center;
  border: 2px solid #00013b;
  color: #141414;
  transform: scale(1.04);
}