.Row {
    height: calc(100vh - 81px);
}

.Button {
    background: url('../images/background-button.svg');
    background-size: cover;
    background-position: center;
    border: 2px solid #011638;
    transition: 0.5s all ease-in-out;
}

.Button:hover {
    background: url('../images/background-button-hover.svg');
    background-size: cover;
    background-position: center;
    border: 2px solid #ddc000;
    color: #141414;
    transform: scale(1.04);
}


.Input {
    background: #ffffff;
    border: 1px solid #f0f1f9;
    box-sizing: border-box;
    border-radius: 2px;
    color: #7177a1;
    text-align: center;
    padding: 10px;
}

.Header {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #2142b2;
}

.Link {
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
}

.Link span {
    color: #4d3e00;
}

.Container {
    padding: 30px 10px;
}

.SignInCol {
    height: 320px;
}

.SignUpCol {
    height: 375px;
}